*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: rgb(188, 165, 209);
    max-width: 1200px; 
    display: flex;
    align-items: center;
    margin: 0 auto 0 auto;
    justify-content: center;
    border-bottom: 2px solid black;
    padding: 16px;
}
button{
    padding: 8px;
    margin: 8px;
}
ul{
    /*display: flex;
    flex-wrap: wrap;*/
}
li{
    position: relative;
    max-height: 150px;
    overflow-y: hidden;
    margin:10px;
}

a::selection{
    text-decoration:line-through;
}
.conteinerUl{
    display: block;
}
